.text-pic{
    display: flex;
    /* border: black solid 2px; */
    width:100%;
    margin:auto;
    justify-content: space-between;
    padding: 10%;
}

.article-right{
    display: none;
    /* border: black solid 1px; */
    width: 40%;
    /* height: 200px; */
}
.article-left {
    height: 200px;
}
.article-left:hover~.article-right{
    display:block;
    border-color: black solid 2px;
}
/* found this code.... where the F is it from? */
.contact-form {
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    border:black solid 3px;
}
/* space for animation of description appear on img hover */

@media only screen and (max-width: 600px) {
    
    .text-pic{
        display: block;
        width: 100%;
        text-align: center;
        padding: 0%;
    }
    .article{
        width:95%;
    }
    .article-right {
        display: block;
        width: 100%;
    }
}
