.twitter {
    display:flex;
    border-radius: 10%;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.blogpost {
    display:block;
    width: 80%; 
    padding: 5px;
    text-align: justify;

}
.blog-title, .blog-date {
    text-align: center;
}
.blogpic {
    float: right;
    padding: 8px;
}

 /* @media brings blog picture to 100% width and avoids text wrapping at intermediate screen sizes */
@media only screen and (max-width: 750px) {
    .blogpic {
        width: 100%;
    }
}
