.contents {
    display:flex;
    width: 80%;
    text-align: center;
    justify-content: space-evenly;
    /* background-color: #dbedf3; */
}
.top-button {
    display:block;
    width: 130px;
    padding: 5px;
    text-align: center;
    background-color: #dbedf3;
    justify-content: space-evenly;
}
.top-button:hover {
    background-color: #ffa8b6;
}
.contents a {
    background-color: #dbedf3;
    width: 40%;
}
.twitter {
    display:flex;
    border-radius: 10%;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.blogpost {
    display:block;
    width: 80%; 
    padding: 5px;
    text-align: justify;
}

.blog-title, .blog-date {
    text-align: center;
}
.blogpic {
    float: right;
    padding: 8px;
}
.blog-title {
    display: block;
    background-color: #dbedf3;
    width: 100%;
}

.blog-date {
    text-align: left;
    font-style: italic;
}
 /* @media brings blog picture to 100% width and avoids text wrapping at intermediate screen sizes */
@media only screen and (max-width: 750px) {
    .blogpic {
        width: 100%;
    }
    .index-container {
        flex-direction: column;
    }
}
