.twitter {
    display:flex;
    /* border:blue 5px; */
    border-radius: 10%;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}
/* .fa-twitter, .fa-linkedin, .fa-envelope-square {
    font-size: 3em;
    margin:10px;
} */


.twitter-timeline {
    border: black solid 1px;
}

.blogpost {
    display:block;
    width: 80%; 
    padding: 5px;
    /* border:crimson solid 1px; */
    margin: green solid 3px;

}
.blog-title, .blog-date {
    text-align: center;
}
.blogpic {
    float:right;
}

