

/* flex box for the pdf download */
.contact-container{
    display:flex;
    flex-direction: column;
    padding: 40px;
}

#cv {
    display:flex;
    width: 100%;
    /* align-items: flex-start; */
    /* border: black solid 2px; */
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding-top: 2%;
}
/* creating a flexbox contrainer for a busniess card */
.business-card {
    display:flex;
    width: 380px;
    padding: 15px;
    background: #dbedf3;
    border-radius: 5%;
    justify-content: space-around;
    align-items: center;
}


.contact-form {
    display: flex;
    width: 80%;
    flex-direction: column;
    /* padding: 10%; */
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    border: 0;
    align-items: center;

}
.hidden {
    display: none;
}
input {
    width: 60%;
}

textarea {
    width: 60%;
}

.socials a {
    padding:10px;
}
.social-icon {
    font-size: 3em;
    color: #ffa8b6;
}

.social-icon:hover {
    color: #a28089;
}
.button {
    width: 100px;  
    background-color: #ffa8b6;
    border: none;
    border-radius: 50%;
    height: 4vh;
    color:white;
    font-weight: bold;
    font-size: 1.2em;
    margin: 20px;
}

.button:hover {
    background-color: #a28089;
}

@media only screen and (max-width: 400px) {
        .business-card{
            flex-direction: column;
        }
}
