

/* flex box for the pdf download */
.contact-container{
    display:flex;
    flex-direction: column;
    padding: 40px;
}
/* setting up container to house the resume dowload code*/
#cv {
    display:block;
    width: 60%;
    justify-content: space-evenly;
    border-radius: 5%;
    text-align: center;
    align-items: center;
    padding-top: 2%;
    background-color: #dbedf3;
}


/* creating a flexbox contrainer for a busniess card item */
.business-card {
    display:flex;
    width: 380px;
    padding: 15px;
    background: #dbedf3;
    border-radius: 5%;
    justify-content: space-around;
    align-items: center;
}
/* styling icons inside business card*/
.bcard-icon{
    font-size: 2.2em;
    color: #ffa8b6;
}
/* email icon from a diferent library needed special styling */
.fa-envelope-square {
    color: #ffa8b6;
}
/*form styling */
.contact-form {
    display: flex;
    width: 80%;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    border: 0;
    align-items: center;

}

/* form attribute class for label was set to hidden to comply with accesibility standards but not display on screen*/
.hidden {
    display: none;
}
/* formatting the form for better display*/
input {
    width: 60%;
}
textarea {
    width: 60%;
}

.socials a {
    padding:15px;
}
/* .social-icon {
    font-size: 3em;
    color: #ffa8b6;
} */

.social-icon:hover {
    color: #a28089;
}
.button {
    width: 100px;  
    background-color: #ffa8b6;
    border: none;
    border-radius: 50%;
    height: 1.5em;
    color:white;
    font-weight: bold;
    font-size: 1.2em;
    margin: 20px;
}

.button:hover {
    background-color: #a28089;
}

@media only screen and (max-width: 400px) {
        .business-card{
            flex-direction: column;
        }
}
