@import "navbar.css";
@import "article.css";

body {
    background:#b2e4de;
}

.back-margin{
    display: flex;
    /* border: 2px solid blue; */
    border-radius: 5%;
    width: 90%;
    flex-wrap: wrap;
    background-color: #edf7f6;
    padding: 5%;
}

a {
    text-decoration: none;
}

h1, h3{
        /* display: block;
        justify-content: center; */
        align-items: center;
}

