.nav-bar {
    display:flex;
    /* border: purple solid 2px; */
    height: 80px;
    width:100%;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: space-between;
}

.nav-end {
    display: block;
    font-weight: bold;
    padding:10px;
}

.navlink {
    color:peru;
    font-weight: bold;
    background-color:skyblue;
    list-style: none;
    border-radius: 15%;
}

a.navlink:hover{
        /* border-top: 5px solid yellow;
        border-bottom: 5px solid yellow; */
        color:red;
        overflow: hidden;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 600px) {

.hamburger {
    display: block;
    text-align: right;
    color:blue;
}

.logo {
    display:none;
}
.nav-bar {
  position: relative;
  display: flex;
  height:fit-content;
  justify-content: flex-start;
}

.nav-end {
  display: none;
  position: absolute;
  padding: 5%;
  min-width: 160px;
}

.navlink {
    background-color: transparent;
}

.nav-bar:hover .nav-end {
  display: block;
}

}


