.nav-bar {
    display:flex;
    /* border: purple solid 2px; */
    height: 80px;
    width:100%;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: space-between;
}

.nav-end {
    display: block;
    font-weight: bold;
    padding: 10px;
}

.navlink {
    /* color:peru; */
    font-weight: bold;
    /* background-color:skyblue; */
    list-style: none;
    border: 4px;
    border-radius: 15%;
    padding: 5px;
}

a.navlink:hover{
        border: 2px solid blue;
        overflow: hidden;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 600px) {
.nav-end {
  display:flex;
  flex-direction: row;
  background-color:pink;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  justify-content: space-evenly;
}

.nav-end a {
  /* float: left; */
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 5px;
  text-decoration: none;

}
a.navlink:hover{
    border:none;
    border-radius: 0%;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    overflow: hidden;
}
.logo{
    display: none;
}

/* .hamburger {
    display: block;
    text-align: right;
    color:blue;
}

.logo {
    display:none;
}
.nav-bar {
  position: relative;
  display: flex;
  height:fit-content;
  justify-content: flex-start;
}

.nav-end {
  display: none;
  position: absolute;
  padding: 5%;
  min-width: 160px;
}

.navlink {
    background-color: transparent;
}

.nav-bar:hover .nav-end {
  display: block;
}

a.navlink:hover{
        border: none;
        overflow: hidden;
} */

}


